*{
    margin: 0px;
    padding: 0px;
}


html{
    
    scroll-behavior: smooth;
}


body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

section{
    background-color: white;
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}



nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: -45px;
    margin-left: -20px;
    height: 200px;
}

ul{
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 25px;
}

ul.show{
    display: block;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0px;
}

li{
    text-decoration: none;
}


h1{
    font-size: 70px;
    margin: 0px;
}

p{
    margin-left: 0;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 300px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 60px;
    margin-bottom: 200px;
}

.button{
    width: 186px;
    height: 40px;
    background-color: rgb(84, 170, 117);
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    padding-bottom: 5px;
}

.button:hover{
    background-color: rgb(29, 141, 79);
}


.button:active{
    background-color: #a9a9a9;
    color: #808080;
}


.social{
    padding-bottom: 200px;
    padding-right: 30px;
}

.nav-text:hover{
    color: rgb(165, 247, 196);
}

a{
    text-decoration: none;
    color: white;
}



.colour-icon:hover{
    fill: rgb(165, 247, 196);
}

/*---------------------------------------ABOUT ME----------------------------------------------- */

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;    
}

h2{
    font-size: 50px;
}

.photo{
    height: 300px;
    border-radius: 150px;
}

.headshot{
    display: flex;
    align-items: center;
}



/*------------------------------------------BLOGS--------------------------------------------------- */

.blog-back{
    background-color: #1c1d25;

}

.blog-back h2{
    color: white;
    font-weight: lighter;
}


.blog-card img{
    margin: 10px;
    align-items: center;
    background-color: white;
    height: 200px;
    border-radius: 1000px;    
    transition: 0.5s;
}

.blog-card img:hover{
    transform: scale(1.3);
}


.blog-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;

}


.blog-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

}




/*------------------------------------------PROJECTS--------------------------------------------------- */

.project-card{
    margin: 10px;
    align-items: center;
    width: 300px;
    background-color: white;
    height: 350px;
    /* border-radius: 20px;     */
    box-shadow: 3px 3px 10px rgb(167, 167, 167);
    transition: 0.5s;
}

.project-card:hover{
    transform: scale(1.3);
}

.project-container{
    margin-top: 50px;
    
    display: flex;
    justify-content: space-around;

}

.art{
    height: 180px;
    padding-top: 40px;
    
}

.art-text{
    margin-top: 15px;
    font-weight: 10px;
    font-size: 23px;
    font-family: 'Alex Brush', cursive;
}

.project-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

/*------------------------------------------Contact--------------------------------------------------- */

.contact{
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.contact div{
    display: flex;
    flex-direction: column;
}

.input{
    padding-left: 8px;
    padding-top: 8px;
}

.input-field{
    
    box-sizing: border-box;
    border: 2px solid rgb(0, 85, 84);
    padding: 0.8rem 1rem;
    border-radius: 7px;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease 0s;
}

.extra{
    padding-bottom: 80px;
}

.submit-button{
    width: 40%;
    font-size: larger;
    background: rgb(102, 189, 136);
    margin-right: 20px;
    border: 3px solid rgb(102, 189, 136);
    border-radius: 3px;
    font-weight: bold;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}



/*------------------------------------------FOOTER--------------------------------------------------- */

/* footer{
    height: 500px;   
    background-color: black;
}

.center-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
}

.footer-content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-gen{
    border: none;
    padding: 10px;
}

.input-field{
    margin-left:20px ;
    border: none;
    padding: 10px;
    
}

.contact-text{
    color: white;
    
}

.footer-content div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.submit-button{
    font-family: 'Poppins', sans-serif;
    background-color: coral;
    border: transparent;
    padding: 10px;
    margin-left: 50%;
    border-radius: 10px;
}

.submit-button:hover{
    background-color: rgb(226, 225, 225);
}

.submit-button:active{
    background-color: rgb(80, 79, 79);
}

.footer-social{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.footer-social div{
    margin-right: 30px;
} */

















/*------------------------------------------Responsive Media for Gallery and About me section--------------------------------------------------- */

@media only screen and (max-width: 1264px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
    .blog-container{
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px){
    .sub-section{
        display: flex;
        flex-wrap: wrap;
    }
    .sub-section{
        display: flex;
        margin: 10px;
        padding: 0px;
        align-items: center;
        flex-direction: column-reverse;
        justify-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 700px){
    .contact{
        padding-top: 80px;
        padding-left: 40px;
        padding-bottom: 40px;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px){

    .social{
        display: none;
    }    
    .hero-text{
        margin-left: 5px;
        margin-bottom: 150px;
    }
    .button:hover{
    background-color: rgb(84, 170, 117);
}
.blog-card img{
    margin: 10px;
    align-items: center;
    background-color: white;
    height: 200px;
    border-radius: 1000px;    
}

.blog-card img:hover{
    transform: none;
}
.project-card{
    margin: 10px;
    align-items: center;
    width: 300px;
    background-color: white;
    height: 350px;
    /* border-radius: 20px;     */
    box-shadow: 3px 3px 10px rgb(167, 167, 167);
}

.project-card:hover{
    transform: none;
}

}

@media only screen and (max-width: 641px){

    .project-card{
        margin: 5px;
        align-items: center;
        width: 250px;
        background-color: white;
        height: 300px;
        /* border-radius: 20px;     */
        box-shadow: 3px 3px 10px rgb(167, 167, 167);
        transition: 0.5s;
    }
    
    .project-container{
        margin-top: 50px;    
        display: flex;
        justify-content: space-around;
    
    }
    
    .art{
        height: 160px;
        padding-top: 10px;
        
    }
    
    .art-text{
        margin-top: 15px;
        font-weight: 10px;
        font-size: 23px;
        font-family: 'Alex Brush', cursive;
    }
    
    .project-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    
    }

}

@media only screen and (max-width: 450px){
    .blog-card img{
        margin: 10px;
        align-items: center;
        background-color: white;
        height: 150px;
        border-radius: 1000px;    
    }
    .blog-container{
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    
    }
    
    
    .blog-section{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    
    }


}

@media only screen and (max-width: 427px){
    
    .hero-text{
        margin-left: 5px;
        margin-bottom: 150px;
    }
    h1{
        font-size: 50px;
        margin: 0px;
    }
    p{
        margin-left: 0;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 300px;
    }
    .button{
        width: 166px;
        height: 40px;
        background-color: rgb(84, 170, 117);
        border-radius: 25px;
        text-align: center;
        font-size: 30px;
        font-weight: 290px;
        padding-bottom: 4px;
    }
}
@media only screen and (max-width: 346px){
    .hero-text{
        margin-left: 0px;
        margin-bottom: 150px;
    }
    
}


@media only screen and (max-width: 1000px){
    .photo{
        height: 230px;
        border-radius: 150px;
    }

    .hamburger{
        display: block;
        border: 0px;
        padding-right: 20px;
        background-color: transparent;
        color: white;
        font-size: 30px;
        align-self: flex-end;
        
    }
    
    .nav-text:hover{
        color: white;
    }
    
    
    .colour-icon:hover{
        fill: white;
    }
    
    ul{
        display: none;
        background-color: #26283a;
        margin: 0px;
        
    }
    
    nav{
        align-items: flex-start;
        padding-left: 10px;
        background-color: #26283a;
        flex-direction: column-reverse;
    }

    .logo{
        display: none;
    }

}
